.button {
    cursor: pointer;
    border: 0;
    border-radius: 0.25rem;

    &.button__primary {
        background-color: var(--nightSnow);
        color: var(--nightSnowContrast);
    }

    &.button__secondary {
        background-color: var(--cloudless);
        color: var(--cloudlessContrast);
    }

    &.button__danger {
        background-color: var(--danger);
        color: var(--dangerContrast);
    }

    &.button__large { 
        padding: 1rem 3rem;
        font-size: 1.2em;
    }
    
    &.button__medium { 
        padding: 0.5rem 2rem;
        font-size: 1.0em;
    }
    
    &.button__small { 
        padding: 0.25rem 1rem;
        font-size: 0.8em;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--disabled);
        color: var(--disabledContrast);
    }
}