.modal {
    position: fixed;
    inset: 0;
    width: 90vw;
    margin: auto;
    box-shadow: var(--shadow);

    @media (min-width: 720px) {
        width: 60vw;
    }

    @media (min-width: 1080px) {
        width: 40vw;
    }

    .modal__header {
        padding: 0.5rem;
        background-color: var(--firstSnowContrast);
        color: var(--firstSnow);
        font-size: 1.3em;
    }

    .modal__content {
        padding: 0.5rem;
    }
}