.layout {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.0rem;
    justify-content: center;
    height: 100vh;
    padding: 1.0rem;

    @media (min-width: 720px) {
        flex-flow: row nowrap;

        :first-child {
            flex: 1;
        }

        :last-child {
            flex: 2;
        }
    }
}