.inputField {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    label {
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1.2em;
    }

    input, textarea, select {
        width: 100%;
        padding: 0.5rem 1.0rem;
        background-color: var(--icyPlains);
        border: 1px solid var(--icyPlainsContrast);
        border-radius: 0.5rem;
        color: var(--icyPlainsContrast);
        font-size: 1.3em;
    }

    textarea {
        height: 5rem;
    }
}